*.opendb
Pre Production/ScardyCat/ScardyCat.VC.db
Pre Production/ScardyCat/Binaries/
Pre Production/ScardyCat/DerivedDataCache/
Pre Production/ScardyCat/Intermediate/
Pre Production/ScardyCat/Saved/
Pre Production/ScardyCat/*.sln
Pre Production/ScardyCat/*.sdf
Pre Production/ScardyCat/*.suo