*.opendb
*.suo
*.db
*.sln
*.sdf
Pre Production/ScardyCat/Binaries/
Pre Production/ScardyCat/DerivedDataCache/
Pre Production/ScardyCat/Intermediate/
Pre Production/ScardyCat/Saved/
Pre Production/ScardyCat/.vs/
Pre Production/ScardyCat/enc_temp_folder/9bc53bb246c556dd4383d6063c84bca/ScardyCatCharacter.cpp
